{% assign collection = collections['notebooks'] %}

{{ collection.title }}

<ul>
  {% for product in collection.products %}
    <li>
      <a style="color: {{ settings.link_color }}" href="{{ product.url }}">
    {{ product.title }} - {{ product.price | money }}
    <a/>
    </li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Section name",
  "settings": [
    {
      "type":"checkbox",
      "id": "show_soldout",
      "label": "Show Sold Out Products",
      "default": false
    }
  ]
}
{% endschema %}